html {
    margin: 0;
}
* {
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    margin: 0;
}
.container {
    min-width: 600px;
    max-width: 710px;
    width: 80%;
    height: 40vh;
    border: 3px solid black;
    border-radius: 15px;
    margin: auto;
    font-family: "Roboto", sans-serif;
    padding: 1em;
}
h2,p {
    margin: 0;
}
.tabs {
    display: flex;
    gap: 2em;
}
.tabs h2 {
    font-weight: 400;
    font-size: 1.3em;
    margin: 0 0.6em;
    margin-bottom: 0.2em;
}
.tab-border {
    border-bottom: 3px solid black;
}

.tab-content {
    padding: 2em 1em;
    
}

.tab-content .box {
    color: #f2f2f2;
    background-color: #222222;
    padding: 3em 7.5em;
    border-radius: 10px;
    margin: 1em 0;
}

.tab-content p {
    font-size: 1.2rem;
}

.tab-content-item{
    display: none;
}

.show {
    display: block;
}

